openapi: 3.0.0
info:
  title: Undersun
  version: '1.0'
  summary: Undersun API documentation
  description: Undersun API documentation
  contact:
    name: Empty
    url: Empty
    email: Empty
  termsOfService: Empty
servers:
  - url: 'https://backend.undersunhotel.com.ua/api'
paths:
  /main:
    get:
      summary: Get main page
      tags:
        - Main page
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    status: success
                    content:
                      seo_title: SEO-заголовок
                      meta_description: Мета-описание
                      hero_title:
                        - bold_text: 'Made for your '
                        - thin_text: comfort
                      hero_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna'
                      hero_slider:
                        - /storage/rooms-1b82ce16-1627288190d7Nqm.svg
                        - /storage/slider-image0299412-1627288194dlJuu.svg
                        - /storage/slide7b5fb3f-1627288193g3ODS.svg
                        - null
                      hero_contacts_us: /storage/callback-btn5f2660a-1627288182tvcwl.svg
                      introduce_small_title: welcome to
                      introduce_big_title:
                        - bold_text: Boutique hotel in
                        - thin_text: 'odessa, ukraine'
                      introduce_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.'
                      benefits_title: The journey is the destination
                      benefits_first_image: /storage/slider-image0299412-1627288194dlJuu.svg
                      benefits_second_image: /storage/small-img577a1bc-1627288195kBycU.svg
                      benefits_third_image: /storage/sports-ground75f852f-1627288204GqjOA.jpg
                      benefits_items:
                        - benefit_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor uat. Duis aute irure dolor.'
                          benefit_title: Benefit no. 1
                        - benefit_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor uat. Duis aute irure dolor.'
                          benefit_title: Benefit no. 2
                        - benefit_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor uat. Duis aute irure dolor.'
                          benefit_title: Benefit no. 3
                      rooms_title:
                        - bold_text: Boutique hotel in
                        - thin_text: 'odessa, ukraine'
                      rooms_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut'
                      rooms_more_btn_text: Discover more
                      services_small_title: Lorem ipsum dolor
                      services_slides:
                        - slide_text: sports ground
                          slide_big_image: /storage/small-img577a1bc-1627288195kBycU.svg
                          slide_small_image: /storage/slide7b5fb3f-1627288193g3ODS.svg
                        - slide_text: garden
                          slide_big_image: /storage/slide7b5fb3f-1627288193g3ODS.svg
                          slide_small_image: /storage/main-bge242d4e-1627288188Bj5iQ.jpg
                        - slide_text: Restaurant
                          slide_big_image: /storage/gyroscooterad9d86b-1627288183wAn3Z.jpg
                          slide_small_image: /storage/garden22c95e1-1627288182230Xx.jpg
                        - slide_text: gyroscooters
                          slide_big_image: /storage/restaurant-small-img4aa5d89-1627288189Dx8gM.svg
                          slide_small_image: /storage/restaurant-img660d896-1627288188VWmTQ.svg
                      services_more_btn_text: Discover more
                      spa_title:
                        - bold_text: spa complex in
                        - thin_text: 'odessa, ukraine'
                      spa_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et'
                      spa_main_image: /storage/garden22c95e1-1627288182230Xx.jpg
                      spa_small_image: /storage/made-for-smalle891e39-16272881883SdGj.svg
                      spa_more_btn_text: Discover more
                      made_title:
                        - bold_text: made for the
                        - thin_text: eternally-curios
                        - bold_text: 'travelers, bon'
                        - bold_text: vivants & the
                        - thin_text: design oriented.
                      made_left_image: /storage/small-img577a1bc-1627288195kBycU.svg
                      made_center_big_image: /storage/slide7b5fb3f-1627288193g3ODS.svg
                      made_center_small_image: /storage/small-img577a1bc-1627288195kBycU.svg
                      made_right_image: /storage/slider-image0299412-1627288194dlJuu.svg
                      made_more_btn_text: Discover more
                      rooms_items:
                        - room_link: standart
                          room_preview_image: /storage/rooms-1b82ce16-1627288190d7Nqm.svg
                          room_name_full: Standart room
                        - room_link: deluxe
                        - room_link: family-suite
                properties:
                  status:
                    type: string
                    minLength: 1
                  content:
                    type: object
                    properties:
                      seo_title:
                        type: string
                        minLength: 1
                      meta_description:
                        type: string
                        minLength: 1
                      hero_title:
                        type: array
                        uniqueItems: false
                        minItems: 1
                        items:
                          - type: object
                            properties:
                              bold_text:
                                type: string
                                minLength: 1
                          - type: object
                            properties:
                              thin_text:
                                type: string
                                minLength: 1
                      hero_text:
                        type: string
                        minLength: 1
                      hero_slider:
                        type: array
                        items:
                          type: string
                      hero_contacts_us:
                        type: string
                        minLength: 1
                      introduce_small_title:
                        type: string
                        minLength: 1
                      introduce_big_title:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          - type: object
                            properties:
                              thin_text:
                                type: string
                                minLength: 1
                          - type: object
                            properties:
                              thin_text:
                                type: string
                                minLength: 1
                      introduce_text:
                        type: string
                        minLength: 1
                      benefits_title:
                        type: string
                        minLength: 1
                      benefits_first_image:
                        type: string
                        minLength: 1
                      benefits_second_image:
                        type: string
                        minLength: 1
                      benefits_third_image:
                        type: string
                        minLength: 1
                      benefits_items:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            benefit_text:
                              type: string
                              minLength: 1
                            benefit_title:
                              type: string
                              minLength: 1
                      rooms_title:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          - type: object
                            properties:
                              thin_text:
                                type: string
                                minLength: 1
                          - type: object
                            properties:
                              thin_text:
                                type: string
                                minLength: 1
                      rooms_text:
                        type: string
                        minLength: 1
                      rooms_more_btn_text:
                        type: string
                        minLength: 1
                      services_small_title:
                        type: string
                        minLength: 1
                      services_slides:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            slide_text:
                              type: string
                              minLength: 1
                            slide_big_image:
                              type: string
                              minLength: 1
                            slide_small_image:
                              type: string
                              minLength: 1
                      services_more_btn_text:
                        type: string
                        minLength: 1
                      spa_title:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          - type: object
                            properties:
                              bold_text:
                                type: string
                                minLength: 1
                          - type: object
                            properties:
                              thin_text:
                                type: string
                                minLength: 1
                      spa_text:
                        type: string
                        minLength: 1
                      spa_main_image:
                        type: string
                        minLength: 1
                      spa_small_image:
                        type: string
                        minLength: 1
                      spa_more_btn_text:
                        type: string
                        minLength: 1
                      made_title:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          - type: object
                            properties:
                              bold_text:
                                type: string
                                minLength: 1
                          - type: object
                            properties:
                              thin_text:
                                type: string
                                minLength: 1
                      made_left_image:
                        type: string
                        minLength: 1
                      made_center_big_image:
                        type: string
                        minLength: 1
                      made_center_small_image:
                        type: string
                        minLength: 1
                      made_right_image:
                        type: string
                        minLength: 1
                      made_more_btn_text:
                        type: string
                        minLength: 1
                      rooms_items:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            room_link:
                              type: string
                              minLength: 1
                            room_preview_image:
                              type: string
                              minLength: 1
                            room_name_full:
                              type: string
                              minLength: 1
              examples:
                example:
                  value:
                    status: success
                    content:
                      seo_title: SEO-заголовок
                      meta_description: Мета-описание
                      hero_title:
                        - bold_text: 'Made for your '
                        - thin_text: comfort
                      hero_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna'
                      hero_slider:
                        - /storage/rooms-1b82ce16-1627288190d7Nqm.svg
                        - /storage/slider-image0299412-1627288194dlJuu.svg
                        - /storage/slide7b5fb3f-1627288193g3ODS.svg
                      hero_contacts_us: /storage/callback-btn5f2660a-1627288182tvcwl.svg
                      introduce_small_title: welcome to
                      introduce_big_title:
                        - bold_text: Boutique hotel in
                        - thin_text: 'odessa, ukraine'
                      introduce_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.'
                      benefits_title: The journey is the destination
                      benefits_first_image: /storage/slider-image0299412-1627288194dlJuu.svg
                      benefits_second_image: /storage/small-img577a1bc-1627288195kBycU.svg
                      benefits_third_image: /storage/sports-ground75f852f-1627288204GqjOA.jpg
                      benefits_items:
                        - benefit_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor uat. Duis aute irure dolor.'
                          benefit_title: Benefit no. 1
                        - benefit_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor uat. Duis aute irure dolor.'
                          benefit_title: Benefit no. 2
                        - benefit_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor uat. Duis aute irure dolor.'
                          benefit_title: Benefit no. 3
                      rooms_title:
                        - bold_text: Boutique hotel in
                        - thin_text: 'odessa, ukraine'
                      rooms_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut'
                      rooms_more_btn_text: Discover more
                      services_small_title: Lorem ipsum dolor
                      services_slides:
                        - slide_text: sports ground
                          slide_big_image: /storage/small-img577a1bc-1627288195kBycU.svg
                          slide_small_image: /storage/slide7b5fb3f-1627288193g3ODS.svg
                        - slide_text: garden
                          slide_big_image: /storage/slide7b5fb3f-1627288193g3ODS.svg
                          slide_small_image: /storage/main-bge242d4e-1627288188Bj5iQ.jpg
                        - slide_text: Restaurant
                          slide_big_image: /storage/gyroscooterad9d86b-1627288183wAn3Z.jpg
                          slide_small_image: /storage/garden22c95e1-1627288182230Xx.jpg
                        - slide_text: gyroscooters
                          slide_big_image: /storage/restaurant-small-img4aa5d89-1627288189Dx8gM.svg
                          slide_small_image: /storage/restaurant-img660d896-1627288188VWmTQ.svg
                      services_more_btn_text: Discover more
                      spa_title:
                        - bold_text: spa complex in
                        - thin_text: 'odessa, ukraine'
                      spa_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et'
                      spa_main_image: /storage/garden22c95e1-1627288182230Xx.jpg
                      spa_small_image: /storage/made-for-smalle891e39-16272881883SdGj.svg
                      spa_more_btn_text: Discover more
                      made_title:
                        - bold_text: made for the
                        - thin_text: eternally-curios
                        - bold_text: 'travelers, bon'
                        - bold_text: vivants & the
                        - thin_text: design oriented.
                      made_left_image: /storage/small-img577a1bc-1627288195kBycU.svg
                      made_center_big_image: /storage/slide7b5fb3f-1627288193g3ODS.svg
                      made_center_small_image: /storage/small-img577a1bc-1627288195kBycU.svg
                      made_right_image: /storage/slider-image0299412-1627288194dlJuu.svg
                      made_more_btn_text: Discover more
                      rooms_items:
                        - room_link: standart
                          room_preview_image: /storage/rooms-1b82ce16-1627288190d7Nqm.svg
                          room_name_full: Standart room
                        - room_link: deluxe
                        - room_link: family-suite
        '404':
          $ref: '#/components/responses/404-error'
      operationId: get-main
      description: Get content of main page
      parameters:
        - $ref: '#/components/parameters/lang'
  /rooms:
    get:
      summary: Get rooms page
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    status: success
                    rooms_page:
                      seo_title: SEO-заголовок
                      meta_description: Мета-описание
                      hero_title: Accommodations
                      hero_text: Kick Your Boots Off and Stay Awhile
                      area_label: 'Average area:'
                      bed_label: 'Bed type:'
                      view_label: 'View:'
                    rooms:
                      - room_link: standart
                        room_preview_image: /storage/rooms-1b82ce16-1627288190d7Nqm.svg
                        room_name_full: Standart room
                        room_area: 35 sq. m.
                        room_amount_persons: 2 persons
                        room_bed_size: king-size bed
                      - room_link: deluxe
                        room_area: '1'
                        room_amount_persons: '1'
                        room_bed_size: '1'
                      - room_link: family-suite
                        room_area: '2'
                        room_amount_persons: '2'
                        room_bed_size: '2'
                properties:
                  status:
                    type: string
                    minLength: 1
                  rooms_page:
                    type: object
                    properties:
                      seo_title:
                        type: string
                        minLength: 1
                      meta_description:
                        type: string
                        minLength: 1
                      hero_title:
                        type: string
                        minLength: 1
                      hero_text:
                        type: string
                        minLength: 1
                      area_label:
                        type: string
                        minLength: 1
                      bed_label:
                        type: string
                        minLength: 1
                      view_label:
                        type: string
                        minLength: 1
                  rooms:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        room_link:
                          type: string
                          minLength: 1
                        room_preview_image:
                          type: string
                          minLength: 1
                        room_name_full:
                          type: string
                          minLength: 1
                        room_area:
                          type: string
                          minLength: 1
                        room_amount_persons:
                          type: string
                          minLength: 1
                        room_bed_size:
                          type: string
                          minLength: 1
                      required:
                        - room_link
              examples:
                example:
                  value:
                    status: success
                    rooms_page:
                      seo_title: SEO-заголовок
                      meta_description: Мета-описание
                      hero_title: Accommodations
                      hero_text: Kick Your Boots Off and Stay Awhile
                      area_label: 'Average area:'
                      bed_label: 'Bed type:'
                      view_label: 'View:'
                    rooms:
                      - room_link: standart
                        room_preview_image: /storage/rooms-1b82ce16-1627288190d7Nqm.svg
                        room_name_full: Standart room
                        room_area: 35 sq. m.
                        room_amount_persons: 2 persons
                        room_bed_size: king-size bed
                      - room_link: deluxe
                        room_area: '1'
                        room_amount_persons: '1'
                        room_bed_size: '1'
                      - room_link: family-suite
                        room_area: '2'
                        room_amount_persons: '2'
                        room_bed_size: '2'
        '404':
          $ref: '#/components/responses/404-error'
      operationId: get-rooms
      description: Get content of rooms page and info about rooms
      parameters:
        - $ref: '#/components/parameters/lang'
      tags:
        - Rooms
  '/rooms/{slug}':
    parameters:
      - schema:
          type: string
        name: slug
        in: path
        required: true
        description: Current room link
    get:
      summary: Get current room
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    status: success
                    content:
                      seo_title: SEO-заголовок
                      meta_description: Мета-описание
                      room_link: standart
                      room_name:
                        - bold_text: standart
                        - thin_text: room
                      room_area: 35 sq. m.
                      room_amount_persons: 2 persons
                      room_bed_size: king-size bed
                      room_main_image: /storage/rooms-25f08515-16272881914RHMZ.svg
                      room_description_title:
                        - bold_text: A place of
                        - thin_text: distinctive style
                      room_description_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.'
                      room_description_first_image: /storage/small-image63b22f0-1627288195ec5fs.svg
                      room_description_second_image: /storage/restaurant-img660d896-1627288188VWmTQ.svg
                      room_slider_items:
                        - tab_title: bedroom
                          tab_images:
                            - /storage/slide7b5fb3f-1627288193g3ODS.svg
                            - /storage/spa6ba207d-1627288201HpOco.svg
                        - tab_title: living room
                          tab_images:
                            - /storage/small-image63b22f0-1627288195ec5fs.svg
                            - /storage/rooms-30a24c2a-1627288192ShEXA.svg
                        - tab_title: bathroom
                          tab_images:
                            - /storage/sports-ground75f852f-1627288204GqjOA.jpg
                            - /storage/garden22c95e1-1627288182230Xx.jpg
                      room_features_title: Features
                      room_features_items:
                        - feature_items:
                            - Finest linen & towels
                            - 'High-speed fibre wifi '
                            - Smart TV with MultiChoice
                          feature_title: 'Bed & Bath:'
                        - feature_items:
                            - 'Breakfast served from 08:00 till 10:30'
                            - Well-stocked honesty bar & snacks
                            - Housekeeping service
                          feature_title: 'Service & Amenities:'
                        - feature_items:
                            - 'Breakfast served from 08:00 till 10:30'
                            - Well-stocked honesty bar & snacks
                            - Housekeeping service
                          feature_title: 'Service & Amenities:'
                      room_feature_big_image: /storage/small-image63b22f0-1627288195ec5fs.svg
                      room_feature_small_image: /storage/rooms-30a24c2a-1627288192ShEXA.svg
                      room_options_small_title: Lorem ipsum dolor
                      room_options_items:
                        - slide_text: Family
                          slide_big_image: /storage/slide7b5fb3f-1627288193g3ODS.svg
                          slide_small_image: /storage/rooms-25f08515-16272881914RHMZ.svg
                        - slide_text: Junior suite
                          slide_big_image: /storage/slide7b5fb3f-1627288193g3ODS.svg
                          slide_small_image: /storage/sports-ground75f852f-1627288204GqjOA.jpg
                        - slide_text: Suite
                          slide_big_image: /storage/main-bge242d4e-1627288188Bj5iQ.jpg
                          slide_small_image: /storage/small-img577a1bc-1627288195kBycU.svg
                        - slide_text: 'Presidential '
                          slide_big_image: /storage/garden22c95e1-1627288182230Xx.jpg
                          slide_small_image: /storage/small-img577a1bc-1627288195kBycU.svg
                      room_options_btn_text: Discover more
                      room_preview_image: /storage/rooms-1b82ce16-1627288190d7Nqm.svg
                      room_name_full: Standart room
                properties:
                  status:
                    type: string
                    minLength: 1
                  content:
                    type: object
                    properties:
                      seo_title:
                        type: string
                        minLength: 1
                      meta_description:
                        type: string
                        minLength: 1
                      room_link:
                        type: string
                        minLength: 1
                      room_name:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          - type: object
                            properties:
                              bold_text:
                                type: string
                                minLength: 1
                          - type: object
                            properties:
                              thin_text:
                                type: string
                                minLength: 1
                            required:
                              - thin_text
                      room_area:
                        type: string
                        minLength: 1
                      room_amount_persons:
                        type: string
                        minLength: 1
                      room_bed_size:
                        type: string
                        minLength: 1
                      room_main_image:
                        type: string
                        minLength: 1
                      room_description_title:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          - type: object
                            properties:
                              bold_text:
                                type: string
                                minLength: 1
                          - type: object
                            properties:
                              thin_text:
                                type: string
                                minLength: 1
                      room_description_text:
                        type: string
                        minLength: 1
                      room_description_first_image:
                        type: string
                        minLength: 1
                      room_description_second_image:
                        type: string
                        minLength: 1
                      room_slider_items:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            tab_title:
                              type: string
                              minLength: 1
                            tab_images:
                              type: array
                              items:
                                type: string
                      room_features_title:
                        type: string
                        minLength: 1
                      room_features_items:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            feature_items:
                              type: array
                              items:
                                type: string
                            feature_title:
                              type: string
                              minLength: 1
                      room_feature_big_image:
                        type: string
                        minLength: 1
                      room_feature_small_image:
                        type: string
                        minLength: 1
                      room_options_small_title:
                        type: string
                        minLength: 1
                      room_options_items:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            slide_text:
                              type: string
                              minLength: 1
                            slide_big_image:
                              type: string
                              minLength: 1
                            slide_small_image:
                              type: string
                              minLength: 1
                      room_options_btn_text:
                        type: string
                        minLength: 1
              examples:
                example:
                  value:
                    status: success
                    content:
                      seo_title: SEO-заголовок UA
                      meta_description: Мета-описание UA
                      room_link: standart
                      room_name:
                        - bold_text: standart UA
                        - thin_text: room UA
                      room_area: 35 sq. m. UA
                      room_amount_persons: 2 persons UA
                      room_bed_size: king-size bed UA
                      room_main_image: /storage/rooms-25f08515-16272881914RHMZ.svg
                      room_description_title:
                        - bold_text: A place of UA
                        - thin_text: distinctive style UA
                      room_description_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor. UA'
                      room_description_first_image: /storage/small-image63b22f0-1627288195ec5fs.svg
                      room_description_second_image: /storage/restaurant-img660d896-1627288188VWmTQ.svg
                      room_slider_items:
                        - tab_title: bedroom UA
                          tab_images:
                            - /storage/slide7b5fb3f-1627288193g3ODS.svg
                            - /storage/spa6ba207d-1627288201HpOco.svg
                        - tab_title: living room UA
                          tab_images:
                            - /storage/small-image63b22f0-1627288195ec5fs.svg
                            - /storage/rooms-30a24c2a-1627288192ShEXA.svg
                        - tab_title: bathroom UA
                          tab_images:
                            - /storage/sports-ground75f852f-1627288204GqjOA.jpg
                            - /storage/garden22c95e1-1627288182230Xx.jpg
                      room_features_title: Features UA
                      room_features_items:
                        - feature_items:
                            - Finest linen & towels UA
                            - High-speed fibre wifi  UA
                            - Smart TV with MultiChoice UA
                          feature_title: 'Bed & Bath: UA'
                        - feature_items:
                            - 'Breakfast served from 08:00 till 10:30 UA'
                            - Well-stocked honesty bar & snacks UA
                            - Housekeeping service UA
                          feature_title: 'Service & Amenities: UA'
                        - feature_items:
                            - 'Breakfast served from 08:00 till 10:31 UA'
                            - Well-stocked honesty bar & snacks UA
                            - Housekeeping service UA
                          feature_title: 'Service & Amenities: UA'
                      room_feature_big_image: /storage/small-image63b22f0-1627288195ec5fs.svg
                      room_feature_small_image: /storage/rooms-30a24c2a-1627288192ShEXA.svg
                      room_options_small_title: Lorem ipsum dolor UA
                      room_options_items:
                        - slide_text: Family UA
                          slide_big_image: /storage/slide7b5fb3f-1627288193g3ODS.svg
                          slide_small_image: /storage/rooms-25f08515-16272881914RHMZ.svg
                        - slide_text: Junior suite UA
                          slide_big_image: /storage/slide7b5fb3f-1627288193g3ODS.svg
                          slide_small_image: /storage/sports-ground75f852f-1627288204GqjOA.jpg
                        - slide_text: Suite UA
                          slide_big_image: /storage/main-bge242d4e-1627288188Bj5iQ.jpg
                          slide_small_image: /storage/small-img577a1bc-1627288195kBycU.svg
                        - slide_text: Presidential  UA
                          slide_big_image: /storage/garden22c95e1-1627288182230Xx.jpg
                          slide_small_image: /storage/small-img577a1bc-1627288195kBycU.svg
                      room_options_btn_text: Discover more UA
        '404':
          $ref: '#/components/responses/404-error'
      operationId: get-rooms-slug
      description: Get content of current room
      parameters:
        - $ref: '#/components/parameters/lang'
      tags:
        - Rooms
  /parts:
    get:
      summary: Get pages parts
      tags:
        - Pages parts
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    status: success
                    header:
                      header_logo: /storage/map-markerb66fdb9-1627288188vqlbK.svg
                      header_navigation:
                        - link: /rooms
                          name: Rooms
                        - link: /spa
                          name: SPA
                        - link: /restaurant
                          name: Restaraunt
                        - link: /gallery
                          name: Gallery
                        - link: /leisure
                          name: Leisure
                        - link: /contacts
                          name: Contacts
                    footer:
                      footer_logo: /storage/map-markerb66fdb9-1627288188vqlbK.svg
                      footer_navigation:
                        - link: /rooms
                          name: Rooms
                        - link: /spa
                          name: SPA
                        - link: /restaurant
                          name: Restaurant
                        - link: /gallery
                          name: Gallery
                        - link: /leisure
                          name: Leisure
                        - link: /contacts
                          name: Contacts
                      footer_address_text: 'г. Одесса, пр-т Гагарина, 25'
                      footer_address_map: 'https://goo.gl/maps/cCWD8NCFHChNV1qx6'
                      footer_tel: 0800 500 400
                      footer_social:
                        - social_image: /storage/phone03468b6-1627288188cIH2n.svg
                          social_link: 'https://uk-ua.facebook.com/'
                        - social_image: /storage/mastercard353a781-1627288188qaCZC.svg
                          social_link: 'https://www.instagram.com/'
                      footer_copyright: © All RIGHTS RESERVED 2020. undersun spa hotel
                      footer_public_offer_text: Договор публичной оферты
                      footer_public_offer_file: /storage/katalog-1627288219SlJdL.pdf
                properties:
                  status:
                    type: string
                    minLength: 1
                  header:
                    type: object
                    properties:
                      header_logo:
                        type: string
                        minLength: 1
                      header_navigation:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            link:
                              type: string
                              minLength: 1
                            name:
                              type: string
                              minLength: 1
                  footer:
                    type: object
                    properties:
                      footer_logo:
                        type: string
                        minLength: 1
                      footer_navigation:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            link:
                              type: string
                              minLength: 1
                            name:
                              type: string
                              minLength: 1
                      footer_address_text:
                        type: string
                        minLength: 1
                      footer_address_map:
                        type: string
                        minLength: 1
                      footer_tel:
                        type: string
                        minLength: 1
                      footer_social:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            social_image:
                              type: string
                              minLength: 1
                            social_link:
                              type: string
                              minLength: 1
                      footer_copyright:
                        type: string
                        minLength: 1
                      footer_public_offer_text:
                        type: string
                        minLength: 1
                      footer_public_offer_file:
                        type: string
                        minLength: 1
              examples:
                example:
                  value:
                    status: success
                    header:
                      header_logo: /storage/map-markerb66fdb9-1627288188vqlbK.svg
                      header_navigation:
                        - link: /rooms
                          name: Rooms
                        - link: /spa
                          name: SPA
                        - link: /restaurant
                          name: Restaraunt
                        - link: /gallery
                          name: Gallery
                        - link: /leisure
                          name: Leisure
                        - link: /contacts
                          name: Contacts
                    footer:
                      footer_logo: /storage/map-markerb66fdb9-1627288188vqlbK.svg
                      footer_navigation:
                        - link: /rooms
                          name: Rooms
                        - link: /spa
                          name: SPA
                        - link: /restaurant
                          name: Restaurant
                        - link: /gallery
                          name: Gallery
                        - link: /leisure
                          name: Leisure
                        - link: /contacts
                          name: Contacts
                      footer_address_text: 'г. Одесса, пр-т Гагарина, 25'
                      footer_address_map: 'https://goo.gl/maps/cCWD8NCFHChNV1qx6'
                      footer_tel: 0800 500 400
                      footer_social:
                        - social_image: /storage/phone03468b6-1627288188cIH2n.svg
                          social_link: 'https://uk-ua.facebook.com/'
                        - social_image: /storage/mastercard353a781-1627288188qaCZC.svg
                          social_link: 'https://www.instagram.com/'
                      footer_copyright: © All RIGHTS RESERVED 2020. undersun spa hotel
                      footer_public_offer_text: Договор публичной оферты
                      footer_public_offer_file: /storage/katalog-1627288219SlJdL.pdf
        '404':
          $ref: '#/components/responses/404-error'
      operationId: get-parts
      description: Get header and footer
      parameters:
        - $ref: '#/components/parameters/lang'
  /spa:
    get:
      summary: Your GET endpoint
      tags:
        - Spa
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    status: success
                    content:
                      seo_title: '3'
                      meta_description: '3'
                      hero_title: '3'
                      hero_bottom_text: '3'
                      hero_bg_img: /storage/screenshot-13-1631113696ac30o.png
                      block2_bold_title_1: '3'
                      block2_thin_title_1: '3'
                      block2_bold_title_2: '3'
                      block2_thin_title_2: '3'
                      mini_first_img: /storage/screenshot-13-1631113696ac30o.png
                      mini_second_img: /storage/screenshot-12-1631113751Fjo9h.png
                      mini_third_img: /storage/screenshot-13-1631113696ac30o.png
                      big_img: /storage/screenshot-12-1631113751Fjo9h.png
                      text_bottom: '3'
                      btn_text: '3'
                      block2_btn_link: '3'
                      block1_title: '3'
                      block1_with_left_img:
                        - big_img: /storage/screenshot-13-1631113696ac30o.png
                          small_img: /storage/screenshot-12-1631113751Fjo9h.png
                          sub_title: '3'
                          description: '3'
                        - big_img: /storage/screenshot-13-1631113696ac30o.png
                          small_img: /storage/screenshot-12-1631113751Fjo9h.png
                          sub_title: '3'
                          description: '3'
                      block2_title: '3'
                      block2_with_right_img:
                        - big_img: /storage/screenshot-13-1631113696ac30o.png
                          small_img: /storage/screenshot-12-1631113751Fjo9h.png
                          sub_title: '3'
                          description: '3'
                        - big_img: /storage/screenshot-13-1631113696ac30o.png
                          small_img: /storage/screenshot-12-1631113751Fjo9h.png
                          sub_title: '3'
                          description: '3'
                      block3_title: '3'
                      block3_with_left_img:
                        - big_img: /storage/screenshot-13-1631113696ac30o.png
                          small_img: /storage/screenshot-12-1631113751Fjo9h.png
                          sub_title: '3'
                          description: '3'
                        - big_img: /storage/screenshot-13-1631113696ac30o.png
                          small_img: /storage/screenshot-12-1631113751Fjo9h.png
                          sub_title: '3'
                          description: '3'
                      block4_bold_title: '1'
                      block4_thin_title: '1'
                      block4_sub_title: '1'
                      block4_description: '1'
                      block4_btn_text: '1'
                      block4_btn_link: '1'
                      block4_first_img: /storage/screenshot-13-1631113696ac30o.png
                      block4_second_img: /storage/screenshot-12-1631113751Fjo9h.png
                properties:
                  status:
                    type: string
                    minLength: 1
                  content:
                    type: object
                    required:
                      - block4_bold_title
                      - block4_thin_title
                      - block4_sub_title
                      - block4_description
                      - block4_btn_text
                      - block4_btn_link
                      - block4_first_img
                      - block4_second_img
                    properties:
                      seo_title:
                        type: string
                        minLength: 1
                      meta_description:
                        type: string
                        minLength: 1
                      hero_title:
                        type: string
                        minLength: 1
                      hero_bottom_text:
                        type: string
                        minLength: 1
                      hero_bg_img:
                        type: string
                        minLength: 1
                      block2_bold_title_1:
                        type: string
                        minLength: 1
                      block2_thin_title_1:
                        type: string
                        minLength: 1
                      block2_bold_title_2:
                        type: string
                        minLength: 1
                      block2_thin_title_2:
                        type: string
                        minLength: 1
                      mini_first_img:
                        type: string
                        minLength: 1
                      mini_second_img:
                        type: string
                        minLength: 1
                      mini_third_img:
                        type: string
                        minLength: 1
                      big_img:
                        type: string
                        minLength: 1
                      text_bottom:
                        type: string
                        minLength: 1
                      btn_text:
                        type: string
                        minLength: 1
                      block2_btn_link:
                        type: string
                        minLength: 1
                      block1_title:
                        type: string
                        minLength: 1
                      block1_with_left_img:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            big_img:
                              type: string
                              minLength: 1
                            small_img:
                              type: string
                              minLength: 1
                            sub_title:
                              type: string
                              minLength: 1
                            description:
                              type: string
                              minLength: 1
                      block2_title:
                        type: string
                        minLength: 1
                      block2_with_right_img:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            big_img:
                              type: string
                              minLength: 1
                            small_img:
                              type: string
                              minLength: 1
                            sub_title:
                              type: string
                              minLength: 1
                            description:
                              type: string
                              minLength: 1
                      block3_title:
                        type: string
                        minLength: 1
                      block3_with_left_img:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            big_img:
                              type: string
                              minLength: 1
                            small_img:
                              type: string
                              minLength: 1
                            sub_title:
                              type: string
                              minLength: 1
                            description:
                              type: string
                              minLength: 1
                          required:
                            - big_img
                            - small_img
                            - sub_title
                            - description
                      block4_bold_title:
                        type: string
                        minLength: 1
                      block4_thin_title:
                        type: string
                        minLength: 1
                      block4_sub_title:
                        type: string
                        minLength: 1
                      block4_description:
                        type: string
                        minLength: 1
                      block4_btn_text:
                        type: string
                        minLength: 1
                      block4_btn_link:
                        type: string
                        minLength: 1
                      block4_first_img:
                        type: string
                        minLength: 1
                      block4_second_img:
                        type: string
                        minLength: 1
              examples: {}
        '404':
          $ref: '#/components/responses/404-error'
      operationId: get-spa
      parameters:
        - $ref: '#/components/parameters/lang'
      description: Get Spa page
  /activities:
    get:
      summary: Your GET endpoint
      tags:
        - Activities
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    status: success
                    content:
                      seo_title: a
                      meta_description: a
                      hero_title_bold: a
                      hero_title_thin: a
                      hero_bottom_text: a
                      hero_bg_img: /storage/screenshot-13-1631113696ac30o.png
                      top_left_img: /storage/screenshot-12-1631113751Fjo9h.png
                      top_title: a
                      top_description: a
                      bottom_right_img: /storage/screenshot-13-1631113696ac30o.png
                      bottom_title: a
                      sim_bottom_description: a
                      title_bold: a
                      title_thin: a
                      bottom_description: a
                      bg_img: /storage/screenshot-12-1631113751Fjo9h.png
                      small_img: /storage/screenshot-13-1631113696ac30o.png
                      2top_left_img: /storage/screenshot-13-1631113696ac30o.png
                      2top_title: a
                      2top_description: a
                      2bottom_right_img: /storage/screenshot-12-1631113751Fjo9h.png
                      2bottom_title: a
                      2bottom_description: a
                properties:
                  status:
                    type: string
                    minLength: 1
                  content:
                    type: object
                    properties:
                      seo_title:
                        type: string
                        minLength: 1
                      meta_description:
                        type: string
                        minLength: 1
                      hero_title_bold:
                        type: string
                        minLength: 1
                      hero_title_thin:
                        type: string
                        minLength: 1
                      hero_bottom_text:
                        type: string
                        minLength: 1
                      hero_bg_img:
                        type: string
                        minLength: 1
                      top_left_img:
                        type: string
                        minLength: 1
                      top_title:
                        type: string
                        minLength: 1
                      top_description:
                        type: string
                        minLength: 1
                      bottom_right_img:
                        type: string
                        minLength: 1
                      bottom_title:
                        type: string
                        minLength: 1
                      sim_bottom_description:
                        type: string
                        minLength: 1
                      title_bold:
                        type: string
                        minLength: 1
                      title_thin:
                        type: string
                        minLength: 1
                      bottom_description:
                        type: string
                        minLength: 1
                      bg_img:
                        type: string
                        minLength: 1
                      small_img:
                        type: string
                        minLength: 1
                      2top_left_img:
                        type: string
                        minLength: 1
                      2top_title:
                        type: string
                        minLength: 1
                      2top_description:
                        type: string
                        minLength: 1
                      2bottom_right_img:
                        type: string
                        minLength: 1
                      2bottom_title:
                        type: string
                        minLength: 1
                      2bottom_description:
                        type: string
                        minLength: 1
        '404':
          $ref: '#/components/responses/404-error'
      operationId: get-activities
      parameters:
        - $ref: '#/components/parameters/lang'
      description: Get Activities&Services page
  /policy:
    get:
      summary: Your GET endpoint
      tags:
        - Policy
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  status:
                    type: string
                    minLength: 1
                  content:
                    type: object
                    properties:
                      seo_title:
                        type: string
                        minLength: 1
                      meta_description:
                        type: string
                        minLength: 1
                      title:
                        type: string
                        minLength: 1
                      title_block_1:
                        type: string
                        minLength: 1
                      desc_block_1:
                        type: string
                        minLength: 1
                      title_block_2:
                        type: string
                        minLength: 1
                      desc_block_2:
                        type: string
                        minLength: 1
                      title_block_3:
                        type: string
                        minLength: 1
                      desc_block_3:
                        type: string
                        minLength: 1
                    required:
                      - seo_title
                      - meta_description
                      - title
                      - title_block_1
                      - desc_block_1
                      - title_block_2
                      - desc_block_2
                      - title_block_3
                      - desc_block_3
                required:
                  - status
                  - content
                x-examples:
                  example-1:
                    status: success
                    content:
                      seo_title: '3'
                      meta_description: '3'
                      title: '3'
                      title_block_1: '3'
                      desc_block_1: '3'
                      title_block_2: '3'
                      desc_block_2: '3'
                      title_block_3: '3'
                      desc_block_3: '3'
        '404':
          $ref: '#/components/responses/404-error'
      operationId: get-policy
      parameters:
        - $ref: '#/components/parameters/lang'
      description: Get Privacy policy page
  /restaurant:
    get:
      summary: Your GET endpoint
      tags:
        - Restaurant
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    status: success
                    content:
                      seo_title: '1'
                      meta_description: '1'
                      hero_title: '1'
                      hero_bottom_text: '1'
                      hero_bg_img: /storage/screenshot-12-1631113751Fjo9h.png
                      int_bold_title: '1'
                      int_thin_title: '1'
                      int_first_img: /storage/screenshot-12-1631113751Fjo9h.png
                      int_second_img: /storage/screenshot-13-1631113696ac30o.png
                      int_third_img: /storage/screenshot-12-1631113751Fjo9h.png
                      int_fourth_img: /storage/screenshot-13-1631113696ac30o.png
                      int_main_description: '1'
                      int_above_btn_description: '1'
                      int_btn_text: '1'
                      int_btn_link: '1'
                      video: /storage/screenshot-12-1631113751Fjo9h.png
                      play_video_text: '1'
                      small_under_video_text: '1'
                      large_under_video_text: '1'
                      bar_img_bg: /storage/screenshot-13-1631113696ac30o.png
                      bar_left_text: '1'
                      bar_center_text: '1'
                      bar_center_desc: '1'
                      bar_right_text: '1'
                      style_bold_title: '1'
                      style_thin_title: '1'
                      style_left_img: /storage/screenshot-12-1631113751Fjo9h.png
                      style_large_text_under_left_img: '1'
                      style_small_text_under_left_img: '1'
                      style_top_title_above_right_img: '1'
                      style_bottom_title_above_right_img: '1'
                      style_right_img: /storage/screenshot-13-1631113696ac30o.png
                      style2_bold_title: '1'
                      style2_thin_title: '1'
                      style2_left_little_img: /storage/screenshot-13-1631113696ac30o.png
                      style2_sub_title: '1'
                      style2_description: '1'
                      style2_btn_title: '1'
                      style2_btn_link: '1'
                      style2_large_img: /storage/screenshot-12-1631113751Fjo9h.png
                      gallery:
                        - 0_img: /storage/screenshot-13-1631113696ac30o.png
                          1_img: /storage/screenshot-13-1631113696ac30o.png
                          2_img: /storage/screenshot-12-1631113751Fjo9h.png
                          location_name: '3'
                        - 0_img: /storage/screenshot-13-1631113696ac30o.png
                          1_img: /storage/screenshot-12-1631113751Fjo9h.png
                          2_img: /storage/screenshot-13-1631113696ac30o.png
                          location_name: '3'
                properties:
                  status:
                    type: string
                    minLength: 1
                  content:
                    type: object
                    properties:
                      seo_title:
                        type: string
                        minLength: 1
                      meta_description:
                        type: string
                        minLength: 1
                      hero_title:
                        type: string
                        minLength: 1
                      hero_bottom_text:
                        type: string
                        minLength: 1
                      hero_bg_img:
                        type: string
                        minLength: 1
                      int_bold_title:
                        type: string
                        minLength: 1
                      int_thin_title:
                        type: string
                        minLength: 1
                      int_first_img:
                        type: string
                        minLength: 1
                      int_second_img:
                        type: string
                        minLength: 1
                      int_third_img:
                        type: string
                        minLength: 1
                      int_fourth_img:
                        type: string
                        minLength: 1
                      int_main_description:
                        type: string
                        minLength: 1
                      int_above_btn_description:
                        type: string
                        minLength: 1
                      int_btn_text:
                        type: string
                        minLength: 1
                      int_btn_link:
                        type: string
                        minLength: 1
                      video:
                        type: string
                        minLength: 1
                      play_video_text:
                        type: string
                        minLength: 1
                      small_under_video_text:
                        type: string
                        minLength: 1
                      large_under_video_text:
                        type: string
                        minLength: 1
                      bar_img_bg:
                        type: string
                        minLength: 1
                      bar_left_text:
                        type: string
                        minLength: 1
                      bar_center_text:
                        type: string
                        minLength: 1
                      bar_center_desc:
                        type: string
                        minLength: 1
                      bar_right_text:
                        type: string
                        minLength: 1
                      style_bold_title:
                        type: string
                        minLength: 1
                      style_thin_title:
                        type: string
                        minLength: 1
                      style_left_img:
                        type: string
                        minLength: 1
                      style_large_text_under_left_img:
                        type: string
                        minLength: 1
                      style_small_text_under_left_img:
                        type: string
                        minLength: 1
                      style_top_title_above_right_img:
                        type: string
                        minLength: 1
                      style_bottom_title_above_right_img:
                        type: string
                        minLength: 1
                      style_right_img:
                        type: string
                        minLength: 1
                      style2_bold_title:
                        type: string
                        minLength: 1
                      style2_thin_title:
                        type: string
                        minLength: 1
                      style2_left_little_img:
                        type: string
                        minLength: 1
                      style2_sub_title:
                        type: string
                        minLength: 1
                      style2_description:
                        type: string
                        minLength: 1
                      style2_btn_title:
                        type: string
                        minLength: 1
                      style2_btn_link:
                        type: string
                        minLength: 1
                      style2_large_img:
                        type: string
                        minLength: 1
                      gallery:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          type: object
                          properties:
                            0_img:
                              type: string
                              minLength: 1
                            1_img:
                              type: string
                              minLength: 1
                            2_img:
                              type: string
                              minLength: 1
                            location_name:
                              type: string
                              minLength: 1
        '404':
          $ref: '#/components/responses/404-error'
      operationId: get-restaurant
      parameters:
        - $ref: '#/components/parameters/lang'
      description: Get Restaurant page
components:
  schemas: {}
  parameters:
    lang:
      name: lang
      in: query
      required: false
      schema:
        type: string
        default: ua
        enum:
          - en
          - ru
          - ua
      description: Current language
  responses:
    404-error:
      description: Error
      content:
        application/json:
          schema:
            description: ''
            type: object
            properties:
              status:
                type: string
                minLength: 1
            required:
              - status
            x-examples:
              example-1:
                status: error
          examples:
            example:
              value:
                status: error
tags:
  - name: Activities
  - name: Main page
  - name: Pages parts
  - name: Policy
  - name: Restaurant
  - name: Rooms
  - name: Spa
